{{#each videos as |video|}}
  {{video.id}} -- {{video.title}}
{{else}}
  <p>Lo siento, no hay videos para mostrar.</p>
  <p>Por favor almacená los videos en c:\videos para que se
    puedan visualizar aquí</p>
{{/each}}
