body {
  text-align: center;
  margin: 0;
  padding: 0;
}

.video-thumb {
  display: inline-block;
  width: 400px;
  height: 200px;
  overflow: hidden;

  background: black;
  margin: 10px;
  border: 1px solid grey;
  position: relative;
}

.video-thumb img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.video-thumb .title {
  position :absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  left: 0;
  right: 0;
  padding: 3px;
  text-align: center;
  height: 25px;
}


.acciones {
  text-align: left;
  padding: 1em;
  position:absolute;
  top:0;
  z-index:10;
}

video {
  width: 100%;
}


.text-right {
  text-align: right !important;
}


.mensaje-error {
  padding: 3em;
}

.return-button {
  font-size: 20px;
  color: white;
  text-shadow: 0 0 4px black;
}

.return-button:hover {
  color: yellow;
}


.page-video {
  background-color: black;
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: hidden;
}
