<div class="page-video">

  <div class="acciones">
    {{#link-to "index" class="return-button"}}<span class="glyphicon glyphicon-chevron-left"></span>{{/link-to}}
  </div>

  <video id="video-bg" src={{model.video}} autoplay controls poster={{model.img}}></video>

</div>
