<div class="page-video">

  <div class="acciones">
    {{#link-to "index" class="return-button"}}<span class="glyphicon glyphicon-chevron-left"></span> Volver{{/link-to}}
  </div>

  {{v-videoElement model=model}}


</div>
